.thumbnailcontainer {
    padding-top: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 10%;
  }
  a{
    text-decoration: none;
    color: transparent;
  }
  
  .thumbnail {
    position: relative;
    max-width: 70%;
    width: auto;
    height: auto;
    /* min-height: 20vw; */
    /* Set the padding-bottom to 100% to create a square (1:1 aspect ratio) */
    padding-bottom: 90%;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column; /* Change to 'column' to make it grow in height */
    /* Set flex-grow to 1 to allow the .thumbnail div to grow in height */
    flex-grow: 1;
  }
  
  .thumbnail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(58, 41, 13, 0.8); */
    /* Use flex display for .overlay to control its child elements */
    display: flex;
    flex-direction: column; /* Set 'column' to stack the child elements vertically */
    justify-content: center; /* Align the content vertically in the center */
    padding: 1em; /* Add some padding to the content inside .overlay */
  }
  
  .thumbnailTitle {
    font-family: "Niconne";
    font-weight: 300;
    text-align: center;
    font-size: 2.7vw;
    /* color: rgb(167, 245, 255); */
    margin: 0; /* Remove the default margin from h1 */
  }
  
  .thumbnail .description {
    font-family: 'Gentium Book Plus', serif;
    font-size: 1.6vw;
    font-weight: 400;
    font-style: italic;
    line-height: 1.8vw;
    /* color: rgb(131, 181, 177); */
    padding: 3% 13% 0% 13%;
    margin: 0; /* Remove the default margin from p */
    text-align: center; /* Center the text inside .description */
  }


  /* Medium to small screens */
@media (max-width: 991px){
  .thumbnailTitle{
    font-size: 2em;
  }

  .thumbnail .description{
    font-size: 1.4em;
    line-height: 1em;
  }
}


/* XL screens */
@media (min-width: 1650px){
  .thumbnailTitle{
    font-size: 3.2em;
  }

  .thumbnail .description{
    font-size: 1.7em;
    line-height: 1.1em;
    padding-top: 0%;
  }

  .thumbnail{
    max-width: 80%;
    padding-bottom: 100%;
  }
}