.navbarTitle{
    font-family: 'Playfair Display';
    font-weight: 200;
    font-size: 1.7em;
    color: #E5F5F4;
}

a{
    font-family: 'AgrandirWideLight';
    font-size: 1.2em;
    color: #E5F5F4;
    letter-spacing: 1px;
}


.nav-link.active{
    color:#7ad0c7;

}

a.hover{
    color:#45746f;
}


.navbarBurger{
    background-color: #45746f !important;
    margin-left: auto;
}

.navbarBg{
    background-color: #1E4444;
}


@media (max-width: 333px){
    .navbarTitle{
        display: none;
    }
}

