.thumbnailcontainer {
    padding-top: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 10%;
  }
  
  .thumbnail {
    position: relative;
    max-width: 75%;
    width: auto;
    height: auto;
    min-height: 22vw;
    /* Set the padding-bottom to 100% to create a square (1:1 aspect ratio) */
    padding-bottom: 50%;
    border-radius: 35px;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column; /* Change to 'column' to make it grow in height */
    /* Set flex-grow to 1 to allow the .thumbnail div to grow in height */
    flex-grow: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }
  
  .thumbnail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(58, 41, 13, 0.8); */
    border-radius: 35px;
    /* Use flex display for .overlay to control its child elements */
    display: flex;
    flex-direction: column; /* Set 'column' to stack the child elements vertically */
    justify-content: center; /* Align the content vertically in the center */
    padding: 1em; /* Add some padding to the content inside .overlay */
  }
  
  .thumbnailTitle {
    font-family: "AgrandirWideLight";
    font-weight: 300;
    text-align: center;
    font-size: 2.3rem;
    /* color: rgb(167, 245, 255); */
    margin: 0; /* Remove the default margin from h1 */
  }
  
  .thumbnail .description {
    font-family: 'AgrandirThinItalic', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
    /* color: rgb(131, 181, 177); */
    padding-top: 3%;
    margin: 0; /* Remove the default margin from p */
    text-align: center; /* Center the text inside .description */
  }