.thumbnailcontainer{
    padding-top: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 10%;
}

.thumbnail{
    position: relative;
    width: 60%;
    /* Set the padding-bottom to 100% to create a square (1:1 aspect ratio) */
    padding-bottom: 60%;
    background-color: blueviolet;
}
