.main{
    background-image: url('../../../assets/academiabg.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height:auto;
    z-index: -1;
}
.headerimg{
    height: auto; /* Adjust the height as needed to control the size of the header */
    display: flex;
    color: black; /* Text color for content inside the header */
  }

  
  .centeredText{
    display: block;
    flex-direction: column;
    align-self: center;
    width: 60%;
  }
  
  .maintitle{
    color: #ccfdfd;
    font-family: "Playfair Display";
    font-size: 4vw;
    font-weight: 600;
  }
  
  .subtitle{
    color: #a7d5d5;
    font-family: "Playfair Display";
    font-size: 2.3em;
    font-weight: 200;
  }
  
  .subheading{
    color: #a7d5d5;
    font-family: "Playfair Display";
    font-size: 1.7em;
    font-weight: 100;
    justify-self: left;
  }
  
  .mt-10{
    margin-top: 10vh;
  }

  .maintext{
    padding-top: 5%;
    font-family: 'Libre Franklin';
    font-size: 1.3em;
    line-height: 2em;
    color:#1D3A5C;
    font-weight: 300;
  }
  
  .textcontainer{
    padding-left: 5em;
    padding-right: 5em;
  }
  
  a{
    text-decoration: none;
  }

  .imgcontainer{
    margin-top: 3em;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;    
    align-self: flex-start; 
    border-radius: 10px;
  }
  
  .piccy{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #16333a;
  }
  
  .svg-container {
    /* Center the SVG element */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* Set the size of the container (adjust as needed) */
    margin-left: 2%;
    margin-right: 2%;
    background-color: #d2e2de;
    width: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 20px;
    /* Add any other styles for the container */
  }
  
  .smallicon {
    align-self: center;
    /* Change the color of the SVG element */
    fill: #45746f; /* Replace 'blue' with the desired color */
  }
  a{
    text-decoration: none;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
  }
  h3{
    color: #45746f;
    font-size:1.2em;
    margin-left: 0.3em;
  }
  
  .contactsection{
    display: flex;
    flex-direction: row;
    padding-top: 3em;
    justify-content: center;
    padding-bottom: 2em;
    margin-top: 5vw;
  }
  
  @media (min-width: 768px) {
    .imgcontainer{
        margin-left: 10%
    }
  }
  
  /*mobile, small screens*/
  @media (max-width: 767px) {
    .imgcontainer{
      margin-top: 10%;
      height: 70vh;
      width: 90%;
    }
  
    .maintitle{
      font-size: 3em;
      margin-top: 10vh;
    }  
    
    .maintext{
      padding-top: 72vh;
      font-family: 'Libre Franklin';
      font-size: 1.2em;
      line-height: 1.7em;
      color:#1D3A5C;
    }
    .textcontainer{
      padding-left: 2em;
      padding-right: 2em;
    }
    
  }
  
  
  /* tablet, medium screens*/
  @media (min-width: 768px) and (max-width: 991px){
    .maintitle{
        font-size: 2.5em;
        margin-top: 10vw;
      } 
    
    .imgcontainer{
        margin-top: 2%;
        height: 110vh;
        width: 95%
    }
  
    .maintext{
      padding-top: 5%;
      font-family: 'Libre Franklin';
      font-size: 1em;
      line-height: 1.7em;
      color:#1D3A5C;
    }
  
    .contactsection{
      margin-top: 7em;
    }
  
  }
  
  
  /* extra large screens */
  @media (min-width: 2200px){
    .maintitle{
      font-size: 5em;
      margin-right: auto;
    } 
    
    .imgcontainer{
      margin-top: 2%;
      height: 110vh;
      width: 95%
    }
  
    .maintext{
      padding-top: 5%;
      font-family: 'Libre Franklin';
      font-size: 2em;
      line-height: 2.5em;
      color:#1D3A5C;
    }
    .textcontainer{
      padding-left: 20vw;
      padding-right: 5em;
    }
  
    .contactsection{
      margin-top: 10%;
    }
  }