<div class="main">
    <div class="headerimg">
        <div class="container">
        
            <div class="centeredText mx-auto mt-10">
                <h2 class="subheading">Hi there!</h2>
                <h1 class='maintitle'>I'm Tamia.</h1>
                <h2 class="subtitle">I do leadership and student advocacy work</h2>
            </div>
                        
            <div class="row">
                <div class="col-lg-1 col-md-12"></div>

                <div class="col-lg-5 col-md-12">
                    <app-thumbnail></app-thumbnail>
                </div>
                <div class="col-lg-5 col-md-12">
                    <app-thumbnail></app-thumbnail>
                </div>
                <div class="col-lg-1 col-md-12"></div>

            </div>
        </div>
    </div>
    <div>
        <h1>Let's get in touch!</h1>
    </div>
</div>