<div class="main">
    <div class="headerimg">
        <div class="container">
        
            <div class="centeredText mx-auto mt-10">
                <h2 class="subheading">Welcome!</h2>
                <h1 class='maintitle'>I'm Tamia.</h1>
                <h2 class="subtitle">Check out my student advocacy and creative works.</h2>
            </div>
                        
            <div class="row">
                <div class="col-lg-4 col-md-10 col-sm-12">
                    <app-thumbnail2 
                        imgsrc="../../../assets/parchment.png" 
                        title="Advocacy" 
                        description="Advocacy projects on campus and student government inititatives."
                        redtxt=84 greentxt=46 bluetxt=28
                        pageroute="/advocacy"
                    ></app-thumbnail2>
                </div>
                <div class="col-lg-4 col-md-10 col-sm-12">
                    <app-thumbnail2
                        imgsrc="../../../assets/parchment.png" 
                        title="Portfolio" 
                        description="My creative works in art and writing."
                        redtxt=82 greentxt=21 bluetxt=21
                        pageroute="/portfolio"
                    ></app-thumbnail2>
                </div>
                <div class="col-lg-4 col-md-10 col-sm-12">
                    <app-thumbnail2
                        imgsrc="../../../assets/parchment.png" 
                        title="About me" 
                        description="A little bit about who I am."
                        redtxt=42 greentxt=51 bluetxt=10
                        pageroute="/about"
                    ></app-thumbnail2>
                </div>

            </div>
        </div>
    </div>
</div>