<app-navbar></app-navbar>
<div class="main">
    <header class="headerimg2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class='maintitle'>ADVOCACY</h1>
            <h2 class="subtitle">projects in student advocacy</h2>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-thumbnail 
                    imgsrc="../../../assets/bsu-blm-BW.png" 
                    title="Project 1" 
                    description="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                    redtxt=235 greentxt=220 bluetxt=210
                    redbg=46 greenbg=34 bluebg=29
                    pageroute=""
                ></app-thumbnail>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-thumbnail 
                    imgsrc="../../../assets/project-default.jpg" 
                    title="Project 2" 
                    description="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                    redtxt=235 greentxt=220 bluetxt=210
                    redbg=90 greenbg=76 bluebg=74
                    pageroute=""
                ></app-thumbnail>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-thumbnail 
                    imgsrc="../../../assets/project-default.jpg"
                    title="Project 3" 
                    description="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                    redtxt=235 greentxt=220 bluetxt=210
                    redbg=90 greenbg=76 bluebg=74
                    pageroute=""
                ></app-thumbnail>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-thumbnail 
                    imgsrc="../../../assets/project-default.jpg" 
                    title="Project 4" 
                    description="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                    redtxt=235 greentxt=220 bluetxt=210
                    redbg=90 greenbg=76 bluebg=74
                    pageroute=""
                ></app-thumbnail>
            </div>
        </div>
    </div>
</div>

